
<h3>Search for Locations</h3>

<div class='container-fluid' data-ng-init="initPage()">
    <div class="row">
        <div class="col-lg-8" >
            <span class="input-group">
                <select class="form-control" ng-model='tenant' ng-change='tenantChange()' ng-options='item as item.name for item in tenants'> 
                    
                </select>
            </span>
            <div class="input-group" style='max-width: 350px;'>             
                <input type="text" class="form-control" placeholder="Search by Location ID" ng-model='searchQuery'>
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click='searchLocation()' type="button" >Search</button>
                    <button class="btn btn-default" ng-click='clearSearch()' type="button" >Clear</button>
                </span>
            </div>
        </div>
    </div>

    <!-- Warning for invalid search -->
    <div class="alert alert-warning" ng-show='locationSearchErr != ""'>
        <!-- <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button> -->
        <strong>Location Lookoup Error:</strong>
        {{ locationSearchErr }}
    </div>

    <div class="row" ng-show="hasLocation">
        <div class="col-lg-8">
            <div class="row">
                <h4>Location Document</h4>
                <p><strong>Name: </strong>{{ locationObject.name }}</p>
                <p><strong>Location ID: </strong>{{ locationObject.name }}</p>
                <p><strong>Failover Type: </strong>{{ locationObject.failover_mode_type }}</p>
            </div>
            <div class="row" ng-show='connectionIDs.length > 0'>
                <h4> Connection ID's </h4>
                <div class="btn-group" ng-model='currentConnection'>
                    <button ng-repeat='conn in connectionIDs' ng-click='selectConnection(conn)' type="button" class="btn btn-info">{{ conn }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show='screens.length > 0' style='margin-top: 15px;' class='frame-container'>        
        <div ng-repeat="item in screens" id="{{ item.id }}" >
            <iframe class='embed-responsive iframe-tile' src="{{ item.screenLocation }}"></iframe>
        </div>
    </div>

</div>

