.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 100% !important;
    overflow-x: hidden !important;
}


.iframe-tile {
    float: left;
    width: 320px;
    height: 179px !important;
    border: 0px;
}

.frame-container {
    margin-top: 15px;

}